**1. Basic Function Implementation**

In [3]:
def greet(name, greeting="Hello"):
    return f"{greeting} {name}"

greet("Bob")
greet("Alice", "Good Morning")

'Good Morning Alice'

**2. Named Arguements**

In [4]:
def create_profile(*, name, city, age=18):
    return f"Name: {name}, Age: {age}, City: {city}"

create_profile(name="John", city="Chicago")
create_profile(name="Emma", age=22, city="Los Angeles")

'Name: Emma, Age: 22, City: Los Angeles'

**3. Using *args and kwargs**

In [ ]:
def sum_numbers(*args, **kwargs):
    return sum(arg for arg in args if isinstance(arg, (int, float))), kwargs

sum_numbers(1, 2, 3)
sum_numbers(1, 2, x=4, y=5)

**4. Lambdas and Map**

In [ ]:
def square_list(lst):
    return list(map(lambda x: x ** 2, lst))

square_list([1, 2, 3, 4])

**5. Filter and Lambdas**

In [6]:
def filter_odds(lst):
    return list(filter(lambda x: x % 2 == 0, lst))

filter_odds([1, 2, 3, 4, 5])

[2, 4]

**6. Basic List Comprehension**

In [9]:
squared_list = [x ** 2 for x in range(5)]
squared_list

[0, 1, 4, 9, 16]

**7. List Comprehension with Condition**

In [10]:
[x for x in range(1, 21) if x % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**8. Using os and time Modules**

In [11]:
import os
import time

def file_operations():
    os.makedirs("test_folder")
    time.sleep(3)
    os.rmdir("test_folder")

file_operations()

**9. Importing Specific Functions**

In [12]:
from time import sleep as pause

pause(2)
print("paused execution...")

paused execution...

**10. Recursive Function with *args and kwargs (Flattening a List)**

In [13]:
def flatten_list(nested_list):
    flat_list = []  # Initialize an empty list to store the flattened elements
    for item in nested_list:  # Iterate through each item in the nested list
        if isinstance(item, list):  # Check if the current item is a list
            # If it is a list, call flatten_list recursively to flatten it
            # Use extend to add all elements from the flattened sublist to flat_list
            flat_list.extend(flatten_list(item))
        else:
            # If the item is not a list, simply append it to flat_list
            flat_list.append(item)
    return flat_list  # Return the flattened list

flatten_list([1, [2, [3, 4]], 5])

[1, 2, 3, 4, 5]